.square__li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 10px;
    padding: 0 10px;
    transition: ease-in .2s;
}
.square__li:hover{
    background-color: #ccc;
}
.square__link{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}