.uploader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #eee;
}
.uploader__header{
    margin: 10px 0;
}
.uploader__paragraph{
    margin: 10px  0 50px 0;
}
.uploader__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.uploader__back{
    position:fixed;
    top: 10%;
    right: 15%;
    width: 30px;
    height: 30px;
    background-color: #000;
}