@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;700&display=swap');
.about__contact__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f2f0ec;
}
.about__contact__header{
    font-size: 26px;
    text-transform: uppercase;
    margin-top: 45px;
    font-family: 'Noto Serif Japanese', serif;
    font-weight: 200;
    padding: 30px 30px;
    text-align: center;
}
@media(min-width: 768px){

    .about__contact__header{
        max-width: 600px;

        font-size: 36px;
    }
}