.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    color: #c6ac85;
    border: 1px #c6ac85 solid;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    transition: ease-in-out .2s
  }
  .button:hover {
    scale:1.05
  }