.slider {
  width: 100vw;
  height: 100vh;
  background-color: #fff;

}
.slider__slider__content {
  width: 100vw;
  height: 50vh;
  text-align: center;
  position: relative;
  display: flex; 
  overflow: hidden;

}
.slider__element {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.slider__element{
  transition: all 0.3s ease-in-out;
}
.slider__element__active {
  opacity: 1;
  transform: translateX(0);
}
.slider__element__last {
  transform: translateX(-100%);
}
.slider__element__next {
  transform: translateX(100%);
}

.slider__nav{
  position: absolute;
  top: 90%;
  left: 50%;
  width: 300px;
  height: 200px;
  transform: translate(-50%, -50%);
  z-index: 222;

}
.slider__image__wrapper{
  width: 100%;
  height: 100%;
}
.slider__description{
  padding: -40px 30px;
  color: #000;
}
.slider__paragraph{
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  padding: 20px 20px;
  line-height: 1.5;
  margin: 10px auto 0 auto;
  max-width: 80%;
  color: #000;
}



@media(min-width: 768px){
  .slider{
    background-color: none;
  }
  .slider__slider__content{
    height: 100vh;
  }
  .slider__description{
    margin: 0;
    display: flex;
    z-index: 4;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 60%;
    color: #fff;
  }
  .slider__paragraph{
    font-size: 14px;
    color: #fff;

  }
  .slider__paragraph__one{
    margin-left: 20px;
    max-width: 300px;
    color: #fff;
  }
  .slider__paragraph__two{
    margin-right: 20px;
    max-width: 400px;
    color: #fff;
  }
} 
@media(min-width: 1100px){
  .slider__description{
    top: 65%;
  }
  .slider__paragraph__one{
    margin-left: 80px;
  }
  .slider__paragraph__two{
    margin-right: 80px;
  }
} 
@media(min-width: 1480px){
  .slider__paragraph__one{
    margin-left: 150px;
  }
  .slider__paragraph__two{
    margin-right: 150px;
  }
} 