.nav__callendar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  color: #c6ac85;
  border: 1px #c6ac85 solid;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  transition: ease-in-out .2s
}
.nav__callendar__black{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  color: #c6ac85;
  border: 1px #c6ac85 solid;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  transition: ease-in-out .2s
}
.nav__callendar:hover{
  opacity: 0.8
}

.callendar__icon {
  padding-right: 10px;
  font-weight: 400;
}
@media (min-width: 769px) {
  .nav__callendar {
    color: #fff;
    border-color: #fff;
  }
  .nav__callendar__black{
    color: #c6ac85;
    border-color: #c6ac85;
  }
  .nav__callendar__scrolled {
    border: 1px #c6ac85 solid;
    color: #c6ac85
  }
}
