@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');
.portfolio{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
}
.portfolio__wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

}
.portfolio__content{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 40px 0;
    padding: 20px ;

}
.slider__navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position:absolute;
    color: #000;
    top: 80%;
    left: 80%;
    margin-top: 25px;
    z-index: 122;
    font-size: 26px;
    max-width: 200px;
  }
.portfolio__header{
    text-align: left;
    font-family: 'Cinzel', serif;
    font-weight: 500;
    font-size: 24px;
    padding: 20px 0 ;
    text-transform: uppercase;
}
    @media(min-width: 769px){
        .portfolio__wrapper{
            flex-direction: row;
            flex-grow:1;
            margin: 100px auto;
        }
        .portfolio__content{
            min-width: 300px;
            width: 30%;
        
        }
 
    }
    @media(min-width: 1400px){
        .slider__navigation {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            position:absolute;
            color: #000;
            top: 90%;
 
          }
    }