@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');
.portfolio{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
}
.portfolio__content{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 40px 0;
    padding: 20px ;

}
.portfolio__header{
    text-align: left;
    font-family: 'Cinzel', serif;
    font-weight: 500;
    font-size: 24px;
    padding: 20px 0 ;
    text-transform: uppercase;
}
