.slider__carousel{
  display: flex;
  height: 100%;
  overflow: hidden;

}
.slider__container:nth-of-type(1){
  width: 100%;
}
.slider__container:nth-of-type(2){
    width: 60%;
    overflow: auto;
}
.slider__image__wrap{
  position: relative;  
  width: 100%;
  aspect-ratio: 1/1.4;
}
.slider__names{
  margin: 30px 0;
}