@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;700&display=swap');

.about__background{
    height: 130vh;
    position: relative;
}

.about__greet{
    display: flex;
    position: absolute;
    top: 85%;
    font-family: 'Noto Serif Japanese', serif;
    font-weight: 200;
    font-size: 38px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 0 40px;
}

@media(min-width: 768px){
    .about__greet{
        display: none;
    }
}