@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');

.about__background{
    height: 130vh;
    position: relative;
    object-position: left ;
}

.about__greet{
    display: flex;
    position: absolute;
    top: 85%;
    font-family: 'Cinzel', serif;
    font-weight: 400;
    font-size: 38px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 0 40px;
}

@media(min-width: 768px){
    .about__greet{
        display: none;
    }
}