@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');
.contact{
    background-color: #fff;
}
.contact__background{
    position: relative;
    width: 100vw;
    height: 50vh;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
}

.contact__wrapper{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 15px auto;
    position: static;
    background-color: #fff;

}
.contact__header{
    font-weight: 300;
    font-size: 38px;
    margin: 5px 0 25px 0 ;
    color: #000;
    font-family: 'Cinzel', sans-serif;
}
.contact__description{
    font-family: 'lato', sans-serif;
    text-align: justify;
    color: #000;
}
.contact__contact{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.1)

}
.contact__wrap{
    margin: 30px 20px 20px 0;

}
.contact__paragraph{
    color: rgba(0,0,0,0.4);
    font-size: 18px;
    margin: 5px 0
}
.contact__content{
    color: rgba(0,0,0,1);
    font-weight: bold;
    letter-spacing: 0.4px;
}
@media (min-width: 768px){
    .contact__background{
        position: relative;
        height: 120vh;
    }
    .contact__wrapper{
        padding: 35px;
        background-color: #fff;
        position: absolute;
        top: 15%;
        right: 0;
        width: 70%;
        max-width: 700px;
    }

}
@media (min-width: 1280px){
    .contact__background{
        position: relative;
        height: 120vh;
    }
    .contact__wrapper{

        max-width: 800px
    }
}