.offert{
    width: 100vw;
    background-color: #fff;
    color: #000;
}
.offert__content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 180px 20px 50px 20px;
    color: #000;

}
.offert__header{
    font-size: 34px;
    color: #000;
    max-width: 700px
}
.offert__paragraph{
    text-align: center;
    color: #000;
    line-height: 1.5;
    letter-spacing: 1;
    font-family: 'lato', sans-serif;
    padding: 10px 0;
    max-width: 800px;
}
.offert__packages{
    margin: 0 20px;
}

