@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');
.questions__wrapper{
    width: 100%;
}
.questions__width{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px 50px 15px;
    width: 100%;
}
.questions__header__mobile{
    font-family: 'Cinzel', serif;
    font-weight: 500;
    margin: 20px 0 ;
    font-size: 22px;
}
.questions__header__desktop{
    display: none;
    font-family: 'Cinzel', serif;
    font-weight: 500;
    margin: 20px 0 ;
    font-size: 28px;
}
.questions__image__wrap{
    width: 100%;
    height: 400px
}
.questions__paragraph{
    padding: 10px 0;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    line-height: 1.7;
}
.questions__button__wrapper{
    display:flex;
    width: 100%;
    justify-content: flex-start;
    margin: 40px 0 0 0;
}
.questions__picture__wrapper{
        background-image: url("/static/images/kamila2.jpg");
        background-position: center;
        background-size: cover;
        position: relative;
        width: 90vw;
        height: 90vw;
        margin: 30px 0 50px 0;
}
.questions_image{
    position: absolute;
}

@media(min-width: 769px){
    .questions__header__mobile{
        display:none
    }
    .questions__header__desktop{
        display: flex;
    }
    .questions__width{
        flex-direction: row;
        justify-content: space-around;
        margin: 0 15px 50px 15px;
    }
    .questions__paragraph{
        padding:  0;
        font-size: 13px;
        font-family: 'Lato', sans-serif;
        line-height: 1.7;
    }
    .questions__content{
        max-width: 350px;
        margin: 250px 40px 50px 0;
    }
    .questions__picture__wrapper{
        width: 25vw;
        height: 25vw;
        margin: 250px 0 50px 40px;
    }

@media(min-width: 1280px){
    .questions__width{
        margin: 0 auto;
        max-width: 1000px;
    }
    .questions__content{
        max-width: 350px;
        margin: 350px 40px 50px 0;
    }
    .questions__picture__wrapper{
        width: 15vw;
        height: 15vw;
        margin: 350px 0 50px 40px;
    }

}
}