.package__wrapper{
    width: 100%;
    font-family: 'Lato', sans-serif;
    margin-bottom: 50px
}
.package__header{
    margin: 50px 0;
    font-size: 30px;
    text-align: left;
    color: #000;
}

.package__price{
    font-weight: bold;
    margin: 40px 0 30px 0  ;
    color: #000;
}
.package__image{
    position: relative;
    margin: 0 auto;
    width: 90vw;
    max-width: 600px;
    aspect-ratio: 2/1.5;
}
.package__image__two{
    display: none;
}
.package__img{
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: #000;
}
.package__description{
    line-height: 1.5;
    margin: 25px 0;
    letter-spacing: 0.8px;
    color: #000;
}
.package__line{
    line-height: 1.5;
    margin: 25px 0;
    font-weight: bold;
    color: #000;
}
.package__content{
    margin: 30px 40px 30px 0 
}

@media (min-width: 1000px){
    .package__wrapper{
        display: grid;
        width: 100%;
        max-width: 1420px;
        margin: auto;
        grid-template-columns: 40% 20% 40%;
        grid-template-rows: 20% 1fr;
        padding: 10px 15px 20px 15px;
        grid-template-areas: 
        "imageOne header header"
        "imageTwo imageThree text" ;
    }
    .package__wrapper__left{
        grid-template-columns: 40% 20% 40%;
        grid-template-rows: 20% 1fr;
        grid-template-areas: 
        "header header imageOne"
        "text imageTwo imageThree" ;
    }
    .package__wrapper__left .package__image{
            grid-column: 1 / 3;
            width: 400px;
            margin: auto;
            transform: translateX(80px);
            z-index: 2;
            grid-area: imageTwo ;
    }
    .package__wrapper__left .package__header{
        padding: 0;
        height: 100px;
        justify-content: flex-start;
    }
    .package__header{
        grid-area: header;
        padding: 0 50px;
        width: 100%;
        font-size: 36px;
    }
    .package__text{
        grid-area: text;
        margin:  0 50px 0 0
    }
    .package__description{
        font-size: 14px;
    }
    .package__image{
        grid-column: 1 / 3;
        width: 400px;
        margin: auto;
        z-index: 2
    }
    .package__image__two{
        display: grid;
        height: 400px;
        width: 400px;
        margin: 0 30px;
        grid-area: imageOne ;
        transform: translate(0px, 50px);
        justify-self: center;
    }
    @media (min-width: 1420px){
        .package__wrapper__left .package__image{
            transform: translateX(180px);
    }
      .package__image__two{
        display: grid;
        height: 400px;
        width: 400px;
        margin: 0 30px;
        grid-area: imageOne ;
        transform: translate(-100px, 50px);
        justify-self: center;
    }
}
}