.modal__add{

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    overflow: hidden;
    background-color: #fff;
}
.admin__wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}
.admin__label{
    font-size: 16px;
    padding: 10px
}
.admin__input{
    padding: 0 10px;
    word-wrap: break-word;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: transparent;
}
#description{
    height: 150px;
    text-align: justify;
}
#file{
    border: none;
    background-color: #000;
}
.admin__select{
    width: 150px;
    height: 30px;
    border-radius: 5px;
}
.admin__button{
    margin: 20px; 
    width: 120px;
    outline: none;
    background-color:#333;
    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
    height: 25px;
    cursor: pointer;
}
.admin__button:hover{
    background-color:#777;
}
.admin__success{
    text-align: center;
    transition: 0.3s ease-in;
    color:  rgba(24, 168, 24, 0.829)
}
.admin__error{
    text-align: center;
    transition: 0.3s ease-in;
    color:  red
}
.modal__closure{
    width: 40px;
    height: 40px;
    position: absolute;
    font-size: 24px;
    top: 2%;
    right: 5%;
}