@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');
.about__wrapper{
    width: 100vw;
    background-color: #f2f0ec;
    color: #000;
}
.about__margin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 15px 40px 15px;
    width: 100%;
}
.about__header{
    font-weight: 500;
    margin: 30px 0 ;
    font-size: 28px;
    
}
.about__image__wrap{
    width: 100%;
    height: 400px
}
.about__paragraph{
    padding: 10px 0;
    font-size: 17px;
    line-height: 1.6;
}
.about__button__wrapper{
    display:flex;
    width: 100%;
    justify-content: flex-end;
    margin: 40px 40px 0 0;
}
.about__picture__wrapper{
    position: relative;
    width: 90%;
    aspect-ratio: 4/3;
    margin: 30px 0 50px 0;
}
.about_image{
    position: absolute;
}
.about__picture__wrapper__two{
    position: relative;
}
@media (min-width: 768px){
    .about__margin{
        display: grid;
        width: 100%;
        max-width: 1420px;
        margin: auto;
        grid-template-columns: 40% 20% 40%;
        grid-template-rows: 40% 1fr;
        padding: 80px 15px 20px 15px;
        grid-template-areas: 
        "imageOne header header"
        "imageTwo imageThree content" ;
    }
    .about__header{
        grid-area: header;
        padding: 0 50px;
        font-size: 32px;
    }
    .about__content{
        grid-area: content;
        margin:  0 50px 0 0
    }
    .about__paragraph{
        font-size: 14px;
        padding: 0 0  0 20px
    }
    .about__picture__wrapper{
        grid-column: 1 / 3;
        width: 350px;
        height: 400px;
        margin: auto;
        z-index: 2
    }
    .about__picture__wrapper__two{
        display: grid;
        aspect-ratio: 5/7;
        width: 300px;
        margin: 0 30px;
        grid-area: imageOne ;
        transform: translate( 20px,180px);
        justify-self: center;
    }
}
@media (min-width: 1260px){
    .about__header{
        font-size: 38px;
    }
    .about__paragraph{
        font-size: 18px;
        padding-left: 60px;
    }
    .about__picture__wrapper{
        width: 600px;
        transform: translateX(50px)
    }
    .about__picture__wrapper__two{
        width: 400px;
        transform: translateY(180px)
    }
}