
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');

.about__wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #fff;
    }

.about__greetting{
    display: none;
    font-family: 'Cinzel', serif;
    font-size: 32px;
    color: #000;
    text-align: left;
    text-transform: uppercase;
    margin: 15px 30px;
}
.about__description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 30px;
    padding-bottom: 35px;
}
.about__upper__paragraph{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 35px 0;
    padding: 0 0 30px 0;
    border-bottom: 1px solid rgba(0,0,0,0.3)
}
.about__paragraph{
    line-height: 1.5;

}
.about__paragraph:nth-of-type(1){
    padding-right: 35px;
}

.about__facts{
    display:flex;
    flex-wrap: wrap;
    margin: 10px 30px;
    width: 100%;
}
.about__fact{
    padding: 10px 0;
    width: 100%;
    height: 100%;
}
.about__fact:nth-of-type(3){
    padding-right: 15px;

}
.about__title{
    color: rgba(0,0,0,0.3);
    text-transform: uppercase;
    padding: 10px 0;
}
@media(min-width: 768px){
    .about__wrapper{
        position: absolute;
        top: 15%;
        right: 0;
        width: 60vw;
        height: 100%;
    }
    .about__greetting{
        display: block;
    }
    .about__description{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0px 30px;
        padding-bottom: 15px;
    }
    .about__upper__paragraph{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 25px 0;
        padding: 0 0 30px 0;
        border-bottom: 1px solid rgba(0,0,0,0.3)
    }
    .about__paragraph{
        display: flex;
        width: 45%;
        padding: 0;
        flex-grow: 1;
    }
    .about__paragraph:nth-of-type(2){
        padding-bottom: 0;
    }

    .about__fact:nth-of-type(2){
        padding: 10px 25px;

    }
    .about__fact{
        width: 45%;
    }
    .about__overlap{
        margin: 0 20px 0 20px
    }
}
@media(min-width: 850px){
    .about__description{

        margin: 60px 30px;
    } 
}
@media(min-width: 1000px){

   .about__wrapper{
    position: absolute;
    top: 15%;
    right: 0;
    width: 50vw;
    height: 100%;
}
}
@media(min-width: 1280px){
.about__overlap{
    max-width: 600px;
    margin: 0 50px 0 50px
}
.about__greetting{
    font-size: 42px;
   }
}
@media(min-width: 1460px){
    .about__wrapper{
        width: 40vw;
    }
    }
    @media(min-width: 2000px){
        .about__wrapper{
            width: 30vw;
        }
        }
