@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');
.card{
    position: relative;
}

.card__wrapper{
   

    height: 100vh;
    position: sticky;
    top: 0;
}

.card__header{
    position: absolute;
    color: #fff;
    font-family: 'Cinzel', serif;
    font-weight: 400;
    z-index: 3;


}
.card__paragraph{
    font-family: 'lato', sans-serif;
    color: #fff;
    z-index: 3;
    margin: 30px 0 
}
.card__names{
    margin: 0 0 80px 0 ;
    color: #fff;
    z-index: 3;
    
}

.card__image__wrapper{ 
   width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    height: 90vh; 
 }
