@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');
.card{
    margin: 0 auto;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}
.card__element{
    display:flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
}
.card__element__footer{
    min-height: 115vh;
    padding: 50px 0 ;
}
.card__image{
    width: 100%;
    height: 100%;
    position: relative;
}
.card__paragraph__wrapper{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 90%;
    font-size: 18px;
    color: #fff;
}

.card__paragraph{
    font-size: 14px;
    padding: 10px 0;
}
.card__icon{
    padding-top: 25px;
    font-size: 26px;
}
.card__feedback{
    font-family: 'Cinzel',sans-serif;
    font-size:30px;
    padding-bottom: 20px
}
@media(min-width: 769px){
    .card__element__footer{
        min-height: 100vh;
        padding: 50px 0 ;
    }
}
@media(min-width: 1280px){
    .card__paragraph__wrapper{
        left: 25%;
    }
   
}